html, body{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    background-color: #423414;
}

ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 3fr 1fr);
}

li{
    /* display: block; */
    list-style-type: none;
}

li:nth-of-type(odd){
    background-color: brown;
}

#one, #twelve{
    /* grid-column: 1 / 6; */
}