.container{
    padding-left: 20em;
    padding-right: 15em;
}

nav, aside, main{
    float: left;
}

nav{
    width: 20em;
    margin-left: -20em;
}

aside{
    width: 15em;
    margin-right: -16em;
}

main{
    width: 100%;
}

footer{
    clear: left;
}