body{
    background-color: #855f0e;
    color: aliceblue;
    box-sizing: border-box;
}

nav, main{
    border-right: 1px solid aliceblue;
}

header{
    border-bottom:1px solid aliceblue;
}

footer, aside, main{
    border-top:1px solid aliceblue;
}